
/* ---- particles.js container ---- */
.intro{
    position: relative;
    min-height: 45rem;
}
#particles-js{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(255, 255, 255), #1b2f368a);
    opacity: 1;
    position: absolute;
  }
  .intro img{
      object-fit: cover;
      object-position: 50% 50%;
      background-repeat: no-repeat;
      height: 100%;
      width: 100% ;
      opacity: .5;
      position: absolute;
      filter: blur(2px);
      top: 0;
  }
  canvas{
    display:block;
  }  

  
  .d-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  

.maindivbox{
    position: absolute;
    top: 23%;
    font-family: var(--roboto);
    color: white;
}
.maindivbox h5{
    cursor: context-menu;
    user-select: none;
    width: fit-content;
    text-transform: uppercase;
    letter-spacing: .06rem;
}
.introheader{}
.introheader h5 {
    padding: .3rem .6rem;

    background: var(--bg);
    font-size: 1.6rem;
    border-radius: .3rem;
}
.introabout {
    margin: 1rem 0rem;
}
.introabout h5>span {
    color: var(--bg);
    text-shadow: -1px 1px 4px #00533d;
    font-family: var(--engfont);
    font-weight: 900;
}
.introabout h5 {
    font-family: poppins;
    letter-spacing: 0rem;
    font-size: 3rem;
    width: fit-content;
    color: white;
    font-weight: 600;
    line-height: 1.4;
}
.packagesbtn {
    margin: 2rem 0rem;
    margin-bottom: 4rem;
}
.packagesbtn a {
    background: var(--bg);
    color: white;
    padding: 1rem 1.2rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .3rem;
    margin-right: .3rem;
}
.packagesbtn a:hover{
    background: var(--dj);

}
.divbutton{
    width: fit-content;
}
.searchdiv{
display: flex;
flex-direction: column;
align-items: flex-end;
}
.searchdiv button {
    font-family: var(--barlow) !important;
    width: 100%;
    background: var(--bg);
    border-radius: 4rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
}
.searchdiv button:hover {
    background: var(--dj);
    transition: all ease .3s;
}
.search_tours {
    background: #ffffff !important;
    color: var(--bg);
    min-height: 12rem;
    box-shadow: -2px 1px 8px 2px rgb(0 0 0 / 14%);
    padding: 1rem 1.5rem;
    border: .1rem solid white;
    border-radius: 1rem;
    display: flex;
    align-items: center;
}
.search_tours_forms input{
    height: 3rem;
    font-size: 1.3rem;
    font-family: var(--barlow);
}
.search_tours_forms label{
    font-size: 1.4rem;
    font-family: var(--barlow);
    font-weight: 700;
}


.mt_header {
    margin: 3rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    border-top: 1px solid #e9e9e9;
    padding-top: 1rem;
}
.mt_header h5 {
    font-size: 2rem;
    font-weight: 700;
    font-family: var(--barlow);
    width: fit-content;
    color: var(--bg);
    
}
.card1 {
    border: 0;
    font-family: var(--roboto);
    margin: 1rem 0rem;
    border-radius: 1rem;
    padding: 1rem;

}
.card1:hover{
    box-shadow: 3px 3px 9px 1px rgb(0 0 0 / 15%);
    transition: all ease-in-out .3s;
}
.card1 h5 {
    color: var(--bg);
    font-size: 1.6rem;
    margin-top: 1rem;
    margin-bottom: .4rem;
    font-family: var(--barlow);
}
.card1 h5:hover{
    color: var(--dj);
    transition: all ease 0.3s;
}

.card1 p {
    margin: 0rem;
    margin-bottom: 1rem;
    line-height: 1.6;
    font-family: var(--engfont);
    color: #6c6c6c;
    font-size: 1rem;
}
.card_header h6{
    color: var(--btn);
    font-family: var(--engfont);
    font-weight: 600;
}
.image_card_div {
    height: 18rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
}
.image_card_div img {
    height: 100%;

    width: 100%;
    object-fit: cover;

}
.image_card_div img:hover{

    transform: scale(1.1);

    transition: all ease .3s;

}
.card2 {
    padding: 1rem;
    border: 0.13rem solid var(--lightcolor);
    margin: 1rem 0rem;
}
.card2:hover{
    transition: all ease 0.3s;
    border: 0.13rem solid var(--bg);

}
.hash {
    user-select: none;
    color: #aeaeae;
    font-size: 1.1rem;
    font-weight: 700;
}
.service_header {
    user-select: none;
    color: var(--bg);
    font-size: 1.3rem;
    font-weight: 600;
    margin: .5rem 0rem;
}
.service_desc{
    user-select: none;
}
.card3 {
    background: linear-gradient(to top, #ffffff, #41ce7f3d);
    border-bottom-right-radius: 3rem;
}
.hash2{
    font-size: .8rem;
}
.card1img img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    border-radius: .2rem;
    border-bottom-right-radius: 1.3rem;
}
.card1img{
    padding-right: .2rem;
}

