

.my_navbar {
    position: absolute;
    width: 100%;
    background: none;
    padding: 1rem 0rem;
    z-index: 50;
}
.my_navbar_scroll{
    box-shadow: 0 4px 15px -5px rgb(0 0 0 / 10%);
}
a:hover{
    text-decoration: none;
    transition: all 0.3s ease;
}
.logo{
    font-size: 1.3rem;
font-weight: 700;
color: var(--bg);
}
.logo:hover{
    color: var(--btn);
}

.nav_ul{
    list-style: none;
display: flex;
justify-content: center;
}
.nav_ul li{
    margin: 0rem 1rem;
}
.nav_ul li>a{
    color: grey;
}
.nav_ul li>a:hover{
    color: var(--bg);
}





  .my_button {
    font-family: var(--engfont);
    font-size: 1.0rem;
    border-radius: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
    background: var(--bg);
    padding: .3rem 1.4rem;
    color: white;
}
  .my_button:hover{
      background: var(--btn);
      transition: all ease 0.3s;
      color: white;
  }
  .divbuttonnav{
    text-align: end;
  }
  .navigation{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .d-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top_nav {
    padding: 1rem 0rem;
    border: 0px;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
    background: var(--btn);
    overflow: hidden;
    margin: 0rem;
    border-bottom: 2px solid #2fbbff;
}
  .my_top_nav{}
  .top_nav_ul{
      display: flex;
  }
  .top_nav_ul li>a{
    color: white;
    font-family: var(--roboto);
    margin-right: .5rem;
  }
  .tnuli{
    justify-content: flex-end;
  }
  .top_nav_ul li>a:hover{
    color: #00ffdc;
    transition: all ease .3s;
  }
  .top_nav_ul .li1 {
    border-right: 2px solid #ffffff30;
    margin-right: .4rem;
}
.big_button{
  margin: 2rem 0rem;
}
.big_button a {
  font-family: var(--barlow);
  font-size: 1.5rem;
  color: var(--bg);
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem 2rem;
  border-bottom-right-radius: 2rem;
  border: 2px solid var(--bg);
}

.big_button a:hover{
  transition: all ease .3s;
  background: var(--bg);
  color: white;
}
.fixed_nav {
  position: fixed;
  transform: translateY(10px);
  top: -10px;
  background: var(--white);
  box-shadow: 0 4px 15px -5px rgb(0 0 0 / 10%);
  transition: ease all .4s;
}