{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="{% static 'css/bootstrap4.5.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome5.15.css' %}">

{% block extracsscdn %}
    
{% endblock extracsscdn %}
    
<link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
<link rel="icon" href="{% static 'img/logo.png' %}" type="image/png" >
<title>
{% block title %}
    
{% endblock title %}
    </title>
</head>
<body>
    
    {% block nav %}
        
    {% endblock nav %}
    


    {% block body %}
        
    {% endblock body %}
<script src="{% static 'js/jquery3.5.1.js' %}"></script>
<script src="{% static 'js/bootstrap4.5.js' %}"></script>

{% block extrajscdn %}
    
{% endblock extrajscdn %}
    

{% block scripts %}
    
{% endblock scripts %}
    
</body>
</html>