{% extends 'parjatan_ui/base.html' %}

{% load static %}
{% block title %}
    Parjatan360
{% endblock title %}


    




{% block studentactive %}
    active
{% endblock studentactive %}
    

{% block body %}
<div class="intro">
  <img src="{% static 'img/image.jpg' %}" alt="">

  <div id="particles-js">
  </div>
</div>


    <br><br>

        <!-- --------------------------------------------- -->
            <!-- PAGINATION -->
        <!-- --------------------------------------------- -->
        <!-- {% if project.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if project.paginator.num_pages != 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                {% endif %}
                {% if project.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                {% endif %}
                {% for i in project.paginator.page_range %}
                    {% if project.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% elif project.number > i|add:"-5" and project.number < i|add:"+5"%}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if project.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
                {% if project.paginator.num_pages != project.number %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.paginator.num_pages }}">Last</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %} -->
                <!-- --------------------------------------------- -->
            <!-- PAGINATION -->
        <!-- --------------------------------------------- -->
            




{% endblock body %}

    

{% block extrajscdn %}
    <script src="{% static 'js/particles.js' %}"></script>
    <script src="{% static 'js/particle_app.js' %}"></script>
{% endblock extrajscdn %}
    

{% block scripts %}

    <script>
    // Form Resubmission Stop Query 
        $(document).ready(function(){
        window.history.replaceState('','',window.location.href)
        });
 </script>
 <script>
     
particlesJS("particles-js", {
    "particles": {
      "number": {
        "value": 80,
        "density": {
          "enable": true,
          "value_area": 800
        }
      },
      "color": {
        "value": "#ffffff"
      },
      "shape": {
        "type": "circle",
        "stroke": {
          "width": 0,
          "color": "#000000"
        },
        "polygon": {
          "nb_sides": 5
        },
        "image": {
          "src": "img/github.svg",
          "width": 100,
          "height": 100
        }
      },
      "opacity": {
        "value": 0.5,
        "random": false,
        "anim": {
          "enable": false,
          "speed": 1,
          "opacity_min": 0.1,
          "sync": false
        }
      },
      "size": {
        "value": 2,
        "random": true,
        "anim": {
          "enable": false,
          "speed": 40,
          "size_min": 0.1,
          "sync": false
        }
      },
      "line_linked": {
        "enable": true,
        "distance": 150,
        "color": "#ffffff",
        "opacity": 0.4,
        "width": 1
      },
      "move": {
        "enable": true,
        "speed": 2,
        "direction": "none",
        "random": false,
        "straight": false,
        "out_mode": "out",
        "bounce": false,
        "attract": {
          "enable": false,
          "rotateX": 600,
          "rotateY": 1200
        }
      }
    },
    "interactivity": {
      "detect_on": "canvas",
      "events": {
        "onhover": {
          "enable": true,
          "mode": "grab"
        },
        "onclick": {
          "enable": true,
          "mode": "push"
        },
        "resize": true
      },
      "modes": {
        "grab": {
          "distance": 150,
          "line_linked": {
            "opacity": 1
          }
        },
        "bubble": {
          "distance": 400,
          "size": 40,
          "duration": 2,
          "opacity": 8,
          "speed": 3
        },
        "repulse": {
          "distance": 200,
          "duration": 0.4
        },
        "push": {
          "particles_nb": 4
        },
        "remove": {
          "particles_nb": 2
        }
      }
    },
    "retina_detect": true
  });
  
  requestAnimationFrame();
  
  
 </script>
 <!-- <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
                    
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
 </script> -->
{% endblock scripts %}
    