{% extends 'parjatan_ui/base.html' %}

{% load static %}
{% block title %}
    Parjatan360
{% endblock title %}


    




{% block studentactive %}
    active
{% endblock studentactive %}
    

{% block body %}





    <br><br>

        <!-- --------------------------------------------- -->
            <!-- PAGINATION -->
        <!-- --------------------------------------------- -->
        <!-- {% if project.paginator.num_pages > 1 %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if project.paginator.num_pages != 1 %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">First</a></li>
                {% endif %}
                {% if project.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
                {% endif %}
                {% for i in project.paginator.page_range %}
                    {% if project.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                    {% elif project.number > i|add:"-5" and project.number < i|add:"+5"%}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if project.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
                {% endif %}
                {% if project.paginator.num_pages != project.number %}
                    <li class="page-item"><a class="page-link" href="?page={{ project.paginator.num_pages }}">Last</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Last</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %} -->
                <!-- --------------------------------------------- -->
            <!-- PAGINATION -->
        <!-- --------------------------------------------- -->
            




{% endblock body %}

    


{% block scripts %}

    <script>
    // Form Resubmission Stop Query 
        $(document).ready(function(){
        window.history.replaceState('','',window.location.href)
        });
 </script>
 <!-- <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
                    
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
 </script> -->
{% endblock scripts %}
    