{% extends 'parjatan_ui/base.html' %}

{% load static %}


{% block extracsscdn %}
<link rel="stylesheet" href="{% static 'css/slickslider.css' %}">
  <link rel="stylesheet" href="{% static 'css/tour.css' %}">
{% endblock extracsscdn %}
  

{% block title %}
Parjatan360
{% endblock title %}







{% block studentactive %}
active
{% endblock studentactive %}


{% block body %}



<section class="tour_section">
    <div class="container tour_section_container">
        <div class="row">
            <div class="col-md-8">
                <div class="slider">
                    <!-- SLICK SLIDER  -->
                    <!-- Slider One -->
                    <section class="slicksliderexample" id="slick_slider">
                        <div class="site_slider">
                            <div class="slider_one">

                                
   

                                
                                {% if tour.slider_img1 or tour_img2 or tour_img4 or tour_img4%}
                                    <div class="slicks slick_s1">
                                        <img src="{{ tour.slider_img1.url }}" alt="">
                                    </div>

                                    <div class="slicks slick_s2">
                                        <img src="{{ tour.slider_img2.url }}" alt="">
                                    </div>

                                    <div class="slicks slick_s3">
                                        <img src="{{ tour.slider_img3.url }}" alt="">
                                    </div>

                                    <div class="slicks slick_s4">
                                        <img src="{{ tour.slider_img4.url }}" alt="">
                                    </div>

                                 {% else %}
                                 <div class="slicks slick_s1">
                                    <img src="{% static 'img/image.jpg' %}" alt="">
                                </div>
                                <div class="slicks slick_s2">
                                    <img src="{% static 'img/image.jpg' %}" alt="">
                                </div>

                                <div class="slicks slick_s3">
                                    <img src="{% static 'img/image.jpg' %}" alt="">
                                </div>
                                <div class="slicks slick_s4">
                                    <img src="{% static 'img/image.jpg' %}" alt="">
                                </div>
                                {% endif %}
                                    
                                   
                                <!-- {% if tour.slider_img2 %}
                                <div class="slicks slick_s1">
                                    <img src="{{ tour.slider_img2.url }}" alt="">
                                </div>
                             {% else %}   
                             <div class="slicks slick_s1">
                                <img src="{% static 'img/image.jpg' %}" alt="">
                            </div>
                            {% endif %} -->
                                    
                                
                                
                            </div>
                            <div class="slider-btn">
                                <span class="prev position-top"><i class="fas fa-chevron-left"></i></span>
                                <span class="next position-top right-0"><i class="fas fa-chevron-right"></i></span>
                            </div>
                        </div>
                    </section>
                    <!-- Slider One End -->
                </div>

                <div class="booking_options">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="total_costs">
                                <h5>Total BDT</h5>
                                <p>৳4,500 Taka</p>
                                <button class="btn my_button2">BOOK NOW</button>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h5 class="b_option_h">Book now before it's too late</h5>
                            <div class="row booking_details">
                                <div class="col-md-4">
                                    <h5>Date</h5>
                                    <p>{{tour.date}}</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Enter Members</h5>
                                    <input type="number" class="form-control" value="1" required>
                                </div>
                                <div class="col-md-4">
                                    <h5>Price per member</h5>
                                    <p>৳{{tour.budget}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="descriptions">
                    <div class="highlights">
                        <h5>Highlights</h5>
                        <p><i class="far fa-check-circle"></i> {{tour.highlight_1}}</p>
                        <p><i class="far fa-check-circle"></i> {{tour.highlight_2}}</p>
                        <p><i class="far fa-check-circle"></i> {{tour.highlight_3}}</p>
                        <p><i class="far fa-check-circle"></i> {{tour.highlight_4}}</p>
                        <p><i class="far fa-check-circle"></i> {{tour.highlight_5}}</p>
                    </div>


                        <h5>Tour Plan</h5>
                        <p>{{ tour.tour_plan|linebreaks }}</p>


                    <h5>What's Included</h5>

                    <h6><i class="far fa-check-circle"></i> Accommodation </h6>
                    <p>{{ tour.inc_accommodation|linebreaks }}</p>


                    <h6><i class="far fa-check-circle"></i> Transportation </h6>
                    <p>{{ tour.inc_transportation|linebreaks }}</p>


                    <h6><i class="far fa-check-circle"></i> Meals</h6>
                    <p>{{ tour.inc_meals|linebreaks }}</p>



                    <h6><i class="far fa-check-circle"></i> Guide </h6>
                    <p>{{ tour.inc_guid|linebreaks }}</p>

                    <h6><i class="far fa-check-circle"></i> Additional Services</h6>
                    <p>{{ tour.inc_additional|linebreaks }}</p>


                    
                    <h5>Contact</h5>
                    <p><i class="far fa-check-circle"></i> Phone: {{ tour.tour_contact_phone }}</p>
                    <p><i class="far fa-check-circle"></i> Email: {{ tour.tour_contact_email }}</p>


                    <div class="add_to_wishlist">
                        <button class="btn my_button"><i class="fas fa-heart"></i> Add to wishlist</button>
                    </div>

                </div>




            </div>

            <div class="col-md-4">
                <div class="tour_header">
                    <div class="tour_heading">
                        <h5>{{tour.title}}</h5>
                        <p><i class="fas fa-map-marker-alt text-success"></i> {{tour.location}}</p>
                    </div>
                    <div class="row tour_main_details">
                        <div class="col-md-6">
                            <h5>Tour Arranged By</h5>
                            <p>{{tour.user.tour_arranger.name}}</p>
                            <h5>Budget</h5>
                            <p>{{tour.budget}} Per</p>
                            <h5>Age Limit</h5>
                            <p>{{tour.age_limit}}</p>
                        </div>
                        <div class="col-md-6">
                            <h5>Total Member</h5>
                            <p>{{tour.total_memeber}}</p>
                            <h5>Booked Seats</h5>
                            <p>{{tour.booked_seat}}</p>
                            <h5>Tour Duration</h5>
                            <p><i class="fas fa-sun text-warning"></i> {{tour.duration_days}} Days &nbsp; <i class="fas fa-moon text-info"></i>  {{tour.duration_nights}} Nights</p>
                        </div>
                    </div>
                </div>

                <div class="tours_in_tour_search">
                    <h5>Quick Search</h5>
                    <div class="form_group">
                        <form action="" method="">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" name="search_tour" class="form-control" required placeholder="Search by Destination">
                                    <input type="date" name="search_tour" class="form-control" required >
                                </div>
                                <div class="col-md-12">
                                    <button class=" btn my_button2">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

               

            </div>
        </div>







    </div>
</section>










<br><br>



{% endblock body %}



{% block extrajscdn %}
    <script src="{% static 'js/slick.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
{% endblock extrajscdn %}


{% block scripts %}

<script>
  // Form Resubmission Stop Query 
  $(document).ready(function () {
    window.history.replaceState('', '', window.location.href);

  });




var d = new Date();
var n = d.getFullYear();
document.getElementById("year").innerHTML = n;


</script>
<script>

      

</script>
<!-- <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
                    
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
 </script> -->
{% endblock scripts %}